@import url('/src/fonts/font-awesome.css');

* {
	box-sizing: border-box;
}

:root {
	font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
	line-height: 1.2;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	color: #f1f1f1;
	background-color: #4a3a5e;
}

html,
body,
#root {
	height: 100%;
}
