@import url('/src/fonts/font-awesome.css');

* {
	box-sizing: border-box;
}

:root {
	font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
	line-height: 1.2;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	color: #e4e4e4;
	background-color: #3c3c3c;
}

h2 {
	font-size: 33px;
	font-weight: 600;
}

a {
	text-decoration: none;
	color: inherit;
}

html,
body,
#root {
	height: 100%;
}
